<div class="main">
  <div class="mainHeader">
    <h1>
      <img class="mainHeaderLogo -light" src="/img/logo_wordmark.svg" alt="Oracy" />
      <img class="mainHeaderLogo -dark" src="/img/logo_wordmark_white.svg" alt="Oracy" />
    </h1>
    <div>
      Enjoy <!--over 10K -->public domain audiobooks, completely free and without ads.
    </div>
  </div>
  <div class="mainContent">
    {{#if featuredAudiobooks.length}}
      <div class="mainContentIsLoaded">
        <h2 class="mainContentListTitle">
          Featured Audiobooks
        </h2>
        <div class="list">
          {{#each featuredAudiobooks}}
            <div class="listItem" 
              data-title="{{title}}" 
              data-description="{{description}}" 
              data-author="{{author}}" 
              data-cover-image-src="{{coverImageSrc}}" 
              data-audio-tracks-length="{{ audioTracks.length }}"
              {{#each audioTracks}}
                data-audio-track-{{offset @index}}="{{this}}"
              {{/each}}
            >
              <div class="listItemImage">
                <img src="{{ coverImageSrc }}" alt="" />
                <div class="listItemImageControls">
                  <div class="listItemImageControlsPlay" title="Play">
                    {{> icons/play}}
                  </div>
                  <div class="listItemImageControlsPause" title="Pause">
                    {{> icons/pause}}
                  </div>
                </div>
              </div>
              <div class="listItemContent">
                <h6 class="listItemTitle">{{ title }}</h6>
                <div class="listItemAuthor">By {{ author }}</div>
                <p class="listItemTeaser">{{ description }}...</p>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{else}}
      <div class="mainContentIsError">
        <div class="mainContentError">
          Error loading audiobooks.
          <button id="retryLoadingAudiobooks" type="button" class="btn btn-outline-primary">Try again</button>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="mainFooter">
    Built by <a href="https://twitter.com/damirkotoric" target="_blank">@damirkotoric</a>
  </div>
</div>

<div class="player" id="player">
  <div class="playerMain">
    <img class="playerCoverImage" id="playerCoverImage" alt="">
    <div class="playerInfoControls">
      <div class="playerInfo">
        <div class="playerTitle" id="playerTitle" ></div>
        <div class="playerAuthor" id="playerAuthor"></div>
      </div>
      <div class="playerScrubber" id="playerScrubber" data-position="0">
        <div class="playerScrubberThumb" id="playerScrubberThumb"></div>
        <div class="playerScrubberBar">
          <div class="playerScrubberBarActive" id="playerScrubberBarActive"></div>
        </div>
      </div>
      <div class="playerControls">
        <div class="playerControlsRewind" id="playerControlsRewind" title="Rewind 10 seconds">
          {{> icons/rewind-10}}
        </div>
        <div class="playerControlsPlayPause">
          <div class="playerControlsPlay" id="playerControlsPlay" title="Play" data-click="playerPlay">
            {{> icons/play}}
          </div>
          <div class="playerControlsPause" id="playerControlsPause" title="Pause" data-click="playerPause">
            {{> icons/pause}}
          </div>
        </div>
        <div class="playerControlsForward" id="playerControlsForward" title="Forward 10 seconds">
          {{> icons/fast-forward-10}}
        </div>
      </div>
    </div>
  </div>
  <div class="playerCollapse" id="playerCollapse" title="Collapse">
    <div>
      {{> icons/chevron-down}}
    </div>
  </div>
</div>
